# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build
dist/
coverage/

# Caches
.eslintcache
*.tsbuildinfo

# Logs
*.log

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Operating System
.DS_Store
Thumbs.db