:root {
  --font-family-body: system-ui, sans-serif;
  --font-family-monospace: ui-monospace, consolas, monospace;
  --font-size-caption: 0.875rem;
  --font-size-body: 1rem;
  --font-size-heading-small: 1.25rem;
  --font-size-heading-medium: 1.5rem;
  --font-size-heading-large: 2rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --line-height-compact: 1.25;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
}
